<section>
  <br>
  <div class="csform" *ngIf="reje===false">

    <mat-form-field class="csform" appearance="outline">
      <mat-label>Login użytkownika</mat-label>
      <input #log1 matInput placeholder="Login użytkownika">
    </mat-form-field>

    <br>
    <mat-form-field class="csform" appearance="outline">
      <mat-label>Hasło użytkownika</mat-label>
      <input #pass1 matInput type='password' minlength="6" placeholder="Hasło użytkownika">
      <mat-hint>Co najmniej 6 znaków</mat-hint>
    </mat-form-field>
    <br>
    <button (click)="zalog(log1.value,pass1.value)" class="csbutton" mat-stroked-button color="primary">ZALOGUJ
      SIĘ</button><br><br>
    <button (click)="zareje()" class="csbutton" mat-stroked-button color="primary">ZAREJESTRUJ SIĘ</button>
  </div>
  <div class="csform" *ngIf="reje===true">

    <mat-form-field class="csform" appearance="outline">
      <mat-label>Login użytkownika</mat-label>
      <input #log matInput placeholder="Login użytkownika">
    </mat-form-field>

    <br>
    <mat-form-field class="csform" appearance="outline">
      <mat-label>Hasło użytkownika</mat-label>
      <input #pass matInput type='password' minlength="6" placeholder="Hasło użytkownika">
      <mat-hint>Co najmniej 6 znaków</mat-hint>
    </mat-form-field>

    <br>
    <mat-form-field class="csform" appearance="outline">
      <mat-label>Adres e-mail</mat-label>
      <input #email email="true" matInput placeholder="Adres e-mail">
    </mat-form-field>
    <br>
    <mat-form-field class="csform" appearance="outline">
      <mat-label>Imię użytkownika</mat-label>
      <input #imie matInput placeholder="Imię użytkownika">
    </mat-form-field>
    <br>
    <mat-form-field class="csform" appearance="outline">
      <mat-label>Nazwisko użytkownika</mat-label>
      <input #nazw matInput placeholder="Nazwisko użytkownika">
    </mat-form-field>
    <br>
    <button (click)="rejestr(log.value,pass.value,email.value,imie.value,nazw.value)" class="csbutton"
      mat-stroked-button color="primary">ZAREJESTRUJ SIĘ</button>
  </div>

</section>
