.bloki {
  border-radius: 20, 20%;
  width: 90%;
  height: 10%;
  margin-left: 5%;
}

.ba {
  border-radius: 3%;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 70%;
  background-color: #ccf3d5;
  position: relative;
  text-align: center;
}

.bb {
  border-radius: 3%;
  top: -50%;
  left: 70%;
  height: 100%;
  font-size: 50px;
  color: #7dcc90;
  width: 30%;
  background-color: #cddad0;
  position: relative;
  text-align: center;
}

.bc {
  border-radius: 3%;
  top: -100%;
  left: 0%;
  height: 50%;
  width: 70%;
  background-color: #7e9984;
  position: relative;
  text-align: center;
}

section {
  width: 100%;
  height: 67%;
}
