<footer>
  <div class="margin-auto-footer">
    <span class="partners">Partnerzy:</span>
    <a href="https://gipara.com/" target="_blank">
      <img class="small-image" src="/assets/images/gipara_logo.svg" alt="gipara">
    </a>
    <a href="https://www.ing.pl/male-firmy" target="_blank">
      <img class="small-image" src="/assets/images/ING_logo.png" alt="ing">
    </a>
    <a href="https://www.metropoliaztm.pl/pl/" target="_blank">
      <img class="small-image" src="/assets/images/logo_ZTM.png" alt="ztm">
    </a>
    <a href="https://www.euvic.pl/" target="_blank">
      <img class="small-image" src="/assets/images/euvic_with_tagline_white.png" alt="euvic">
    </a>
  </div>
  <div class="margin-auto-footer">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-youtube"></i>
  </div>
</footer>
