*{
    box-sizing: border-box;
}
//Style dla nagłówka//

header{
    display:flex;
    position:sticky;
    background-color: rgb(233, 252, 230);
    height:120px;

}

header .login{
    justify-content: right ;

}

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
  .recycle:hover {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
    }
.recycle{
position:absolute;
margin: 10px 10px 5px 10px;
width: 100px;
height: 100px;
}

section{
    width:80%;
    background-color: whitesmoke;
    margin: 20px 20px 20px 120px;
    padding: 20px;
    box-shadow:0 0 1em rgba(0,0,0,0.5);
    margin: 20px auto;
    border-radius: 10px;
}
h3{
    text-align: center;
}
p{
    text-align: justify;
}

.flex-tiles {
  display: flex;

  .with-size {
    width: 45%;
  }

  .image-size {
    width: 16%;
    border-radius: 10px;
    margin: auto 16% auto 3%;
    transform: rotate(10deg);
  }

}
