<section>
  <article class="tips">
    <h3>Życie bez marnotrawstwa naprawdę powinno być (i jest na wiele sposobów) tańsze, biorąc pod uwagę, że nie
      powinieneś wydawać więcej na tworzenie mniej.</h3>
    <h3>Oto tanie lub darmowe hacki na życie bez marnotrawstwa, które możesz zacząć w tym tygodniu.</h3>
  </article>
</section>

<div class="flex-tiles">
  <section class="with-size">
    <article>
      <h4>1. Odmowa</h4>
      <p>
        Przejrzyj hierarchię odpadów, a przekonasz się, że możesz zmniejszyć tak dużo odpadów, po prostu zastanawiając
        się
        nad tym, co już produkujesz, a następnie pracując nad odmową.<br>

        Odmowa jest na pierwszym miejscu na liście - mówienie „nie”; torby jednorazowe, słomki, serwetki, kubki,
        plastikowe gratisy, których nigdy nie będziesz używać, to wszystko zmniejsza marnotrawstwo, o którym tak
        naprawdę
        nigdy nie myślisz.<br>

        Jeśli uważasz, że będziesz potrzebować któregokolwiek z powyższych, weź ze sobą (może nie plastikowe gratisowe
        tatuaże). Po drodze zapewne zaoszczędzisz też dużo pieniędzy.</p>
    </article>
  </section>
  <img class="image-size" src="/assets/images/pexels-photo-802221.jpeg" alt="wysypisko">
</div>

<section>
  <h4> 2. Chwyć swoje torby</h4>
  <p>Weź ze sobą własne torby - kup je raz lub zrób je (w celu wyprodukowania torebek - uszyj lub zawiąż stary top lub
    użyj poszewki na poduszkę i supeł po zakończeniu), a nigdy nie będziesz musiał płacić opłaty 5/10 pensów i cześć
    presto, żyjesz bardziej bez marnotrawstwa.
  </p>
</section>
<div class="flex-tiles">
  <section class="with-size">
    <h4>3. Nowe ubrania? Sprawdź ponownie</h4>
    <p>Kupowanie nowej odzieży marnuje tyle energii, zasobów i czasu. Wraz z tworzeniem ogromnych emisji, aby stworzyć
      „okazyjną” górę lub parę dżinsów.<br>

      Sprawdź swoją garderobę i sprawdź, czy naprawdę potrzebujesz czegoś nowego, czy mógłbyś ubrać coś w inny sposób?
      Czy
      naprawdę musisz nosić coś nowego , co niekoniecznie musi ci się spodobać? Czy mógłbyś pożyczyć coś od przyjaciela?
      Czy mógłbyś pójść na imprezę wymiany? Czy możesz zmienić ubrania, które już masz?<br>

      Jeśli nie możesz znaleźć niczego odpowiedniego dzięki tym opcjom, poszukaj prawdziwych okazji w sklepach
      charytatywnych.</p>
  </section>
  <img class="image-size" src="/assets/images/pexels-photo-3099027.jpeg" alt="ubrania">
</div>
<section>
  <h4>4. Nigdy więcej rolek kuchennych</h4>
  <p>Wytnij trochę starych ubrań i zmień je w szmaty do usuwania rozlanych płynów, użyj starego poplamionego ręcznika
    lub ściereczki, aby zmyć bałagan - wrzuć je do pralki i gotowe. Żadne drzewa nie zostały uszkodzone.</p>
</section>
<section>
  <h4>5. Stwórz własne środki czyszczące</h4>
  <p>Nieskończenie tańsze i zdrowsze w domu i zdrowiu osobistym bez nieprzyjemnych toksycznych chemikaliów.
    Przygotowaliśmy przewodnik po przepisach dotyczących czyszczenia, w jaki sposób tworzyć własne produkty - wkrótce
    mamy też zajęcia we współpracy z Fresh Green Clean.</p>
</section>
<div class="flex-tiles">
  <section class="with-size">
    <h4>6. Wyhoduj swój własny ogród</h4>
    <p>Jeśli masz ogród - hodowanie własnego jedzenia i kwiatów jest bardziej przyjazne dla środowiska niż posiadanie
      nieskazitelnego zielonego trawnika. Połknij swoją dumę z posiadania najlepszego czystego trawnika na ulicy i ciesz
      się dobrodziejstwem uprawy własnej, zdobądź łatki warzywne i owocowe oraz niektóre kwiaty dla pszczół, aby pomóc
      Twojemu ogrodowi.<br>
      Jakaś nadwyżka jedzenia? Jeśli nie masz ochoty zrobić z nich konfitury, dlaczego nie podarować jej znajomym,
      schroniskom i swojej społeczności. Jeśli nie masz luksusu w ogrodzie, wyhoduj własny ziołowy parapet ogrodowy i
      zbadaj, jakie inne produkty można wyhodować z parapetu lub dowiedz się, czy w pobliżu są jakieś działki. Nigdy
      więcej plastikowych ziół i warzyw oraz tańszych, a nawet darmowych dla Ciebie!<br>

      Dostępne są również bezpłatne aplikacje do dzielenia się jedzeniem, marnuj mniej jedzenia i zbieraj od ludzi w
      pobliżu, aby otrzymać darmowe jedzenie lub składniki.
    </p>
  </section>
  <img class="image-size" src="./../../../../assets/images/pexels-photo-145685.jpeg" alt="ogrod">
</div>
<section>
  <h4>7. Kompostuj resztki jedzenia</h4>
  <p>Mamy nadzieję, że będziesz obserwował wielkości porcji, aby ograniczyć marnotrawstwo żywności (nie jest to możliwe
    u dzieci, jeśli je masz, wiemy), ale większość marnotrawstwa żywności można i należy kompostować albo do uprawy
    własnego jedzenia, przekazując społeczności ogrody lub wprowadzenie ich do programu recyklingu żywności wraz z
    lokalną radą.</p>
</section>
<div class="flex-tiles">
  <section class="with-size">
    <h4>8. Odwiedzaj swoją bibliotekę</h4>
    <p>Jako miłośnicy książek znamy miłość i radość z czytania, ale kupowanie nowych nie jest tak naprawdę nigdy
      potrzebne. Lokalne biblioteki są obecnie tak ciche (nie ze względu na ogólną zasadę niestety), że nie kupują wielu
      nowych książek, więc idź, zarejestruj się, skorzystaj z Internetu, poproś o zamówienie książki dla ciebie i hej,
      oszczędzasz konieczność kupowania czegoś nowego i nie zaśmiecania domu.<br>

      Jeśli twoja biblioteka nie jest w stanie pomóc, poproś znajomych o wymianę książek z tajemnicą lub przeszukuj
      lokalne sklepy charytatywne. Istnieją również grupy wymiany książek w mediach społecznościowych, w których można
      wysyłać i odbierać świetne książki do przeczytania.</p>
  </section>
  <img class="image-size" src="/assets/images/pexels-photo-590493.jpeg" alt="ogrod">
</div>
<section>
  <h4>9. Przygotuj własne posiłki i kawę</h4>
  <p>Niezwykle zdrowsze dla twojego ciała i portfela.<br>

    Wydajemy tak dużo na dania na wynos i kawę, że wszystko to sumuje się na koncie bankowym, a jednocześnie przyczynia
    się tak bardzo do składowania i wydaje się, że nie wycofuje się. Więc zrób własny lunch i weź własne przekąski, zrób
    sobie poranną kawę i włóż ją do kubka z kawą wielokrotnego użytku i możesz wyjść na cały dzień.<br>

    Jeśli naprawdę nie masz czasu - upewnij się, że zawsze pakujesz własne sztućce, kubek wielokrotnego użytku, butelkę
    z wodą i pudełko na lunch, jeśli wiesz, że będziesz głodny poza domem i zapytaj, gdzie kupujesz jedzenie, aby włożyć
    je do twój własny pojemnik.</p>
</section>
<section>
  <h4>11. Kupuj tylko to, czego potrzebujesz, spójrz na to, co już posiadasz</h4>
  <p>Jest to numer 1 - odmowa, ale dotyczy wielu rzeczy. Wiele osób uważa, że ​​życie bez marnotrawstwa jest tylko tym,
    co wszyscy pokazują na Instagramie, mając estetyczne zdjęcia bambusowych sztućców lub sprzątając za pomocą
    „ręczników papierowych”, ale po co wydawać pieniądze na przedmioty, których nie potrzebujesz?<br>

    Są one technicznie bardziej zerowe w pewnym sensie, ponieważ używasz ich w kółko, ale kiedy kupujesz więcej
    produktów, zużywasz zasoby i energię potrzebną do ich wytworzenia, podczas gdy w rzeczywistości posiadasz już
    przedmioty idealnie nadaje się do pracy. Zamiast kupować bambusowe sztućce latające z Chin, weź ze sobą trochę
    sztućców z szuflady na sztućce lub kupuj używane rzeczy ze sklepu charytatywnego. Gdy musisz coś wyczyścić, postępuj
    zgodnie z punktem 4 - użyj ściereczki, szmatki lub starej szmatki, aby go wytrzeć.</p>
</section>
