<div class="parent">
  <div class="div1">
    <p>EcoEcoName</p>
    <p>EcoEcoTitle</p>
    <h4>Punkty: 268</h4>
    <h4>Ranking: 1.</h4>
    <img class="main" src="/assets/images/mainprofi.png" alt="mainprofi">
  </div>
  <div class="div3">
    <p>Data:15/11/2019</p>
    <p>Nazwa: Kosz na drewno wykonany z pasków</p>
    <p>Opis: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga provident facere nisi, quis repellendus
      recusandae dolore praesentium quo necessitatibus, non quas eum, consectetur sapiente modi autem dolorum officiis
      laboriosam nesciunt?</p>
    <!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"
        frameWidth="60" frameHeight="40"></p-galleria> -->
    <img class="image-class" src="./../../../../assets/images/drewno.jpg" alt="drewno">
  </div>
  <div class="div4">
    <h3>O mnie</h3>
  </div>
  <div class="div5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A possimus, quam illo assumenda beatae
    accusamus dicta sint earum voluptatibus at recusandae eos deserunt, sapiente nisi, numquam nostrum. Sit, provident
    molestias? </div>
  <div class="div6">
    <p></p>
  </div>
</div>
