<section>
  <div class="parent">
    <div class="div1" pTooltip="Wkrótce dostępne" tooltipPosition="top" positionStyle="font-size: 45px;">
      <p>Wydarzenia</p>
      <img class="news" src="/assets/images/news.png" alt="news">
    </div>
    <div class="div2" pTooltip="Wkrótce dostępne" tooltipPosition="top" positionStyle="font-size: 45px;">
      <p>Follow</p>
      <img class="news" src="/assets/images/follow.png" alt="follow">
    </div>
    <div class="div3" (click)="rankings()">
      <p>Ranking</p>
      <img class="news" src="/assets/images/lista.png" alt="lista">
    </div>
    <div class="div4" (click)="knowladge()">
      <p>Baza danych </p>
      <img class="news" src="/assets/images/idea.png" alt="idea">
    </div>
    <div class="div5" (click)="recommend()">
      <p>Polecamy</p>
      <img class="news" src="/assets/images/happy.png" alt="happy">
    </div>
    <div class="div6" (click)="zeroWaste()">
      <p>Zero Waste</p>
      <img class="news" src="/assets/images/zero.png" alt="zero">
    </div>
    <div class="div7" (click)="profile()">
      <p>Profil</p>
      <img class="news" src="/assets/images/profil.png" alt="profil">
    </div>
    <div class="div8" (click)="contact()">
      <p>Kontakt</p>
      <img class="news" src="/assets/images/contact.png" alt="contact">
    </div>
  </div>
</section>
