<section>
    <article>
    <h3>Dom dla kota z kartonów!</h3>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/dVxmFSIz4fs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></article>

</section>
<section>
        
       <article>
           <h3>Kartony przerobione na segregatory i pudełka.</h3>
           <img class="segregator" src="/assets/images/segregator.jpeg" alt="segregator">  
           <p>Jeżeli macie w domu karton po jakiejś przesyłce możecie łatwo zmienić go w segregator lub pudełko na regał. Aby to zrobić wystarczą Wam nożyczki, klej, i papier samoprzylepny lub materiał/farba.</p>
        </article>

       <article> 
           <h3>Torba z koszulki.</h3>
           <img class="torba" src="/assets/images/torba.jpg" alt="torba">
           <p>Ta torba jest trochę większa niż standardowe eko torby, no i świetnie sprawdzi się przy wyjściach na zakupy jedzeniowe. W wersji bardziej skomplikowanej do takiej torby można doszyć też kieszonkę albo jakieś zapięcia.</p>
        </article>
        <article>
            <h3>Woreczki na zakupy ze starej koszulki lub firanki.</h3>
            <img class="woreczki" src="/assets/images/woreczki.jpeg" alt="woreczki"> 
            <p>Jeżeli macie w domu niechciane koszulki z bawełny lub firanki i maszynę do szycia możecie z nich zrobić woreczki na zakupy, które będą mało ważyć. Ja zrobiłam moje z białej koszulki, która zafarbowała się na różowo. </p>
        </article>
        <article>
            <h3>Sadzenie resztek warzyw.</h3>
            <img class="roslina" src="/assets/images/roslina.jpeg" alt="roslina"> 
            <p>Dużo ludzi wyrzuca resztki warzyw nie wiedząc o tym, że mogą z nich wyrosnąć nowe jadalne części. Drugi raz można zasadzić np.: cebulę, pora, rzodkiewki, marchew, awokado, a nawet ananasa. Tych roślin jest o wiele więcej i można je hodować w domu o każdej porze roku.</p>
        </article>

        
</section>
