<section>
  <h2 class="title">BLOGOSFERA</h2>
  <article class="examples">
    <span class="section-elements"><a href="https://www.ograniczamsie.com/" target="_blank">
        <img class="img" src="/assets/images/ogarniam.PNG" alt="ogarniam">
      </a></span>
    <span><a href="https://www.green-projects.pl/" target="_blank">
      <img class="img" src="/assets/images/green.PNG" alt="green">
    </a></span>
  </article>
</section>
<hr>
<section>
  <h2 class="title">YOUTUBE</h2>
  <article class="examples">
    <span class="section-elements"><a href="https://youtube.com/channel/UCkq2gEWE-i647M71bh7zDxA" target="_blank">
      <img class="img" src="/assets/images/vegan.PNG" alt="vegan"></a></span>
  </article>
</section>
<hr>
<section>
  <h2 class="title">FACEBOOK</h2>
  <article class="examples">
    <span class="section-elements"><a href="https://www.facebook.com/wastelesspl/" target="_blank">
      <img class="img" src="/assets/images/less.PNG" alt="less">
    </a></span>
  </article>
</section>
